

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.search input{
    width: 300px;
    padding: 10px 2px;
    border: none;
    outline: none;
}

.search button{
    padding: 8px 20px;
    margin-left: 10px;
    background: #a688c3;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}


.cards{
    display: flex;
    flex-wrap: wrap;   
    padding: 20px 0;
    gap: 10px;
}

.profile_card{
    width: 24%;
}

.profile_card img{
    width: 100%;
}

.profile_card a{
    color: white;
    transition: all 0.5s ease-in-out;
}

.profile_card a:hover{
    color: rgb(231, 223, 223);
}